* {
    font-family: 'Lato', sans-serif;
}

.old-price {
    text-decoration: line-through;
    color: red;
}

h1, h2 {
    color: black;
    margin-bottom: 5vh; /* Changed to viewport height */
}

p {
    color: black;
    margin-top: 5vh;  /* Changed to viewport height */
    margin-bottom: 5vh;  /* Changed to viewport height */
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#viewerContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.product-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;/*calc(100% - 2vh); /* Changed to percentage and viewport height */
    margin: 2vh;  /* Changed to viewport height */
    padding: 1vh 1vh;  /* Changed to viewport height */
    background-color: #eee;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.gallery {
    flex: 1;
}

.main-image {
    text-align: center;
    margin-bottom: 1vh;  /* Changed to viewport height */
}

.main-media img, .main-media video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.gallery-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-media {
    width: 50vw; /* Changed to viewport width */
    height: 37.5vw; /* Changed to viewport width */
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
    position: relative;
}

.thumbnails-outer {
    width: 50vw; /* Changed to viewport width */
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 1vh;  /* Changed to viewport height */
}

.thumbnails {
    display: inline-flex;
    gap: 1vh;  /* Changed to viewport height */
}

.thumbnail-item {
    width: 6.25vw; /* Changed to viewport width */
    height: 4.6875vw; /* Changed to viewport width */
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;
}

.thumbnail-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail-item:hover {
    border-color: #007BFF;
}

.product-info {
    flex: 1;
    padding: 1vh 5vw; /* Changed to viewport height and viewport width */
}

.product-info h2 {
    font-size: 1.5vw; /* Changed to viewport width */
}


/* CSS */
.button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 20px 50px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button:focus {
  outline: 1px transparent;
}

.button:before {
  display: none;
}

.button:-webkit-details-marker {
  display: none;
}

/* CSS for the navigation buttons */
.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 2;
    border-radius: 50%; /* Make the button round */
    width: 40px; /* Set the button width */
    height: 40px; /* Set the button height */
}

/* CSS for navigation buttons */
.prev-button {
    left: 10px; /* Adjust the left button position */
}

.next-button {
    right: 10px; /* Adjust the right button position */
}

.prev-button::before,
.next-button::before {
    content: ''; /* Add content to the pseudo-element */
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
}

.prev-button::before {
    border-width: 10px 12px 10px 0;
    border-color: transparent rgba(255, 255, 255, 0.9) transparent transparent;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.next-button::before {
    border-width: 10px 0 10px 12px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.9);
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
